.programs{
  margin-bottom: 80px;


  &_row{
    @include flex(center,center);
    flex-direction: column;
    gap: 50px;
  }

  &_content{
    @include flex(center,center);
    flex-direction: column;
    margin-top: 50px;

  }


  &_panel{
    position: relative;
  }

  &_image{
    position: relative;

    & img{
      width: 100%;
    }
  }

  &_text{
    @include flex(start,space-between);
    flex-direction: column;
    position: absolute;
    bottom: 0;
    padding: 0 24px 20px 24px;
  }

  &_title{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }

  &_subtitle{
    color:$white;
    font-weight: 100;
  }

  &_subdesc{
    @include flex(center,space-between);
    gap: 80px;
  }

  &_bottom{
    @include flex(center,center);
    gap: 24px;

    @include media(1400){
      flex-wrap: wrap;
    }
  }





}