* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color-scheme: inherit;
}

button {
  cursor: pointer;
}

ol, ul, li {
  list-style: none;
}

html, body {
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Geologica, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
  line-height: 120%;
}

.main {
  flex-wrap: wrap;
}

.container {
  widows: 100%;
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: relative;
  border-bottom: 1px solid #c2c1bf;
}
.header_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 131px;
}
@media screen and (max-width: 1130px) {
  .header_content {
    gap: 40px;
  }
}
.header_burger {
  padding: 12px 10px;
  background-color: #FF8541;
  border-radius: 8px;
  color: #FFFFFF;
  border: none;
  fill: #000;
  display: none;
}
@media screen and (max-width: 970px) {
  .header_burger {
    display: block;
  }
}
.header_navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
@media screen and (max-width: 1050px) {
  .header_navbar {
    gap: 25px;
  }
}
@media screen and (max-width: 970px) {
  .header_navbar {
    display: none;
  }
}
.header_link {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #8D8C8B;
  transition: all 0.3s ease-in-out;
}
.header_link:hover {
  color: #000;
}
.header_row {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}
.header_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.header_button {
  padding: 18px 36px;
  background-color: #FF8541;
  border-radius: 8px;
  color: #FFFFFF;
  border: 1px solid #FF8541;
  transition: all 0.3s ease-in-out;
}
.header_button_button {
  padding: 18px 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: transparent;
  border: 1px solid #555351;
  color: #555351;
}
.header_button_button svg path {
  transition: all 0.3s ease-in-out;
}
.header_button_button:hover svg path {
  stroke: #FF8541;
}
.header_button_button:hover {
  color: #FF8541;
}
.header_button:hover {
  background-color: transparent;
  border: 1px solid #FF8541;
  color: #FF8541;
}
.header_button_text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.header_button_choose {
  padding: 18px 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: transparent;
  border: 1px solid #555351;
  color: #555351;
}
@media screen and (max-width: 970px) {
  .header_button_choose {
    display: none;
  }
}
.header_button_choose svg path {
  transition: all 0.3s ease-in-out;
}
.header_button_choose:hover svg path {
  stroke: #FF8541;
}
.header_button_choose:hover {
  color: #FF8541;
}

.banner {
  position: relative;
  margin-top: 100px;
  margin-bottom: 74px;
}
@media screen and (max-width: 1000px) {
  .banner {
    margin-top: 30px;
  }
}
.banner_image {
  position: relative;
}
.banner_image img {
  width: 100%;
}
.banner_text {
  display: flex;
  align-items: start;
  justify-content: unset;
  gap: 30px;
  flex-direction: column;
  position: absolute;
  left: 1;
  bottom: 0;
  padding: 70px;
}
@media screen and (max-width: 830px) {
  .banner_text {
    padding: 25px;
  }
}
.banner_title {
  font-weight: 400;
  line-height: 80px;
  color: #FFFFFF;
  font-size: 64px;
}
@media screen and (max-width: 1450px) {
  .banner_title {
    font-size: calc(
           34px + 30 * ((100vw - 32px) / 1130));
  }
}
@media screen and (max-width: 970px) {
  .banner_title {
    display: none;
  }
}
.banner_subtitle {
  font-weight: 400;
  line-height: 30px;
  color: #FFFFFF;
  font-size: 25px;
}
@media screen and (max-width: 1450px) {
  .banner_subtitle {
    font-size: calc(
           20px + 5 * ((100vw - 32px) / 1130));
  }
}
.banner_subdesc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.banner_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.banner_button:hover {
  background-color: #fff;
}
.banner_button svg path {
  transition: all 0.3s ease-in-out;
}
.banner_button:hover svg path {
  stroke: #000;
}
@media screen and (max-width: 830px) {
  .banner_button {
    display: none;
  }
}

.footer {
  position: relative;
  background-color: #F9F8F6;
  border-top: 1px solid #c2c1bf;
  margin-top: 80px;
}
.footer_row {
  display: flex;
  align-items: start;
  justify-content: unset;
  gap: 125px;
  padding: 60px 0 100px 0;
}
@media screen and (max-width: 1435px) {
  .footer_row {
    gap: 100px;
  }
}
@media screen and (max-width: 1335px) {
  .footer_row {
    gap: 80px;
  }
}
@media screen and (max-width: 1260px) {
  .footer_row {
    gap: 60px;
  }
}
@media screen and (max-width: 1180px) {
  .footer_row {
    gap: 50px;
  }
}
@media screen and (max-width: 1100px) {
  .footer_row {
    gap: 80px;
  }
}
@media screen and (max-width: 985px) {
  .footer_row {
    gap: 60px;
  }
}
@media screen and (max-width: 925px) {
  .footer_row {
    gap: 50px;
  }
}
@media screen and (max-width: 900px) {
  .footer_row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 33px;
    padding: 24px 0 36px 0;
  }
}
.footer_social {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 20px;
}
.footer_social_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.footer_contact {
  display: flex;
  align-items: start;
  justify-content: unset;
  flex-direction: column;
  gap: 16px;
}
.footer_contact_panel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
}
.footer_location {
  display: flex;
  align-items: start;
  justify-content: unset;
  flex-direction: column;
  gap: 13px;
}
@media screen and (max-width: 1100px) {
  .footer_location {
    display: none;
  }
}
.footer_location_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 142px;
  height: 43px;
  border-radius: 16px;
  border-color: #fff;
  gap: 9px;
}
.footer_company {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 246px;
  height: 57px;
  background-color: white;
  border-radius: 16px;
  gap: 12px;
}
.footer_company_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
.footer_title {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #000;
}

.contact {
  margin-top: 100px;
}
@media screen and (max-width: 800px) {
  .contact {
    margin-top: 30px;
  }
}
.contact_button {
  display: flex;
  align-items: end;
  justify-content: end;
}
.contact_image img {
  width: 100%;
  height: 100%;
}
.contact_title {
  font-weight: 600;
  font-size: 39px;
  line-height: 47px;
  color: #000000;
  margin-bottom: 40px;
}
@media screen and (max-width: 1300px) {
  .contact_title {
    text-align: center;
  }
}
.contact_content_title {
  font-weight: 600;
  font-size: 31px;
  line-height: 37px;
  color: #555351;
  margin-bottom: 40px;
}
.contact_input {
  width: 533px;
  height: 60px;
  padding-left: 30px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
  border: 1px solid #C6C5C5;
  border-radius: 8px;
}
@media screen and (max-width: 545px) {
  .contact_input {
    width: 500px;
  }
}
@media screen and (max-width: 525px) {
  .contact_input {
    width: 400px;
  }
}
@media screen and (max-width: 405px) {
  .contact_input {
    width: 300px;
  }
}
.contact_content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-right: 60px;
}
@media screen and (max-width: 1300px) {
  .contact_content {
    padding-right: 0;
  }
}
.contact_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1300px) {
  .contact_row {
    flex-direction: column;
    gap: 60px;
  }
}

.description {
  margin-top: 80px;
}
.description_row {
  display: flex;
  align-items: start;
  justify-content: unset;
  flex-direction: column;
  gap: 50px;
}
.description_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
@media screen and (max-width: 1450px) {
  .description_content {
    flex-wrap: wrap;
  }
}
.description_image {
  position: relative;
}
.description_image img {
  width: 100%;
  height: 100%;
}
.description_panel {
  position: relative;
}
.description_text {
  padding: 24px 27px;
  position: absolute;
  bottom: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}
.description_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  line-height: 47px;
  font-size: 29px;
}
@media screen and (max-width: 1450px) {
  .description_title {
    font-size: calc(
           25px + 4 * ((100vw - 32px) / 1130));
  }
}
.description_marked {
  color: #FF8541;
}

.aricles_row {
  display: flex;
  align-items: start;
  justify-content: unset;
  flex-direction: column;
}
.aricles_content {
  display: flex;
  align-items: center;
  justify-content: unset;
  flex-direction: column;
  gap: 24px;
  margin-top: 50px;
}
@media screen and (max-width: 685px) {
  .aricles_content {
    margin-top: 20px;
  }
}
.aricles_top {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 24px;
}
@media screen and (max-width: 1355px) {
  .aricles_top {
    flex-direction: column;
  }
}
.aricles_bottom {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 24px;
}
@media screen and (max-width: 1355px) {
  .aricles_bottom {
    flex-direction: column;
  }
}
.aricles_mobile {
  display: none;
  background-color: #F9F8F6;
}
@media screen and (max-width: 685px) {
  .aricles_mobile {
    display: block;
  }
}
.aricles_mobile_image img {
  width: 100%;
  height: 100%;
}
.aricles_mobile_text {
  display: flex;
  flex-direction: column;
  background-color: #F9F8F6;
  padding: 20px 24px 22px 20px;
  border-radius: 0 0 12px 12px;
}
.aricles_panel {
  display: flex;
  align-items: start;
  justify-content: unset;
  position: relative;
}
@media screen and (max-width: 685px) {
  .aricles_panel {
    display: none;
  }
}
.aricles_title {
  font-weight: 400;
  line-height: 30px;
  color: #1C1917;
  font-size: 25px;
}
@media screen and (max-width: 1450px) {
  .aricles_title {
    font-size: calc(
           21px + 4 * ((100vw - 32px) / 1130));
  }
}
.aricles_subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #555351;
}
.aricles_text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #F9F8F6;
  padding: 24px 30px 28px 24px;
  border-radius: 0 12px 12px 0;
}
@media screen and (max-width: 1355px) {
  .aricles_text {
    padding: 34px 30px 48px 24px;
  }
}
@media screen and (max-width: 805px) {
  .aricles_text {
    padding: 24px 30px 28px 24px;
  }
}/*# sourceMappingURL=main.css.map */